.profile-card {
    position: fixed;
    top: 100px;
    left: 20px;
    display: flex;
    flex-direction: column; /* Adjust layout to column */
    align-items: flex-start; /* Align items to start */
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 10%;
    z-index: 999;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px; /* Add margin between avatar and profile info */
  }
  
  .profile-card-info {
    width: 100%; /* Ensure profile info takes full width */
  }
  
  .profile-card-info h2,
  .profile-card-info p {
    white-space: nowrap; /* This will prevent the text from wrapping */
    overflow: hidden; /* This will hide any content that overflows */
    text-overflow: ellipsis; /* This will add an ellipsis (...) to indicate overflow */
  }
  