.reviews {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    width: 80%;
    background-color: lightgray;
}

.review-content {
    flex: 1;
}

.review-rating {
    float: left;
    width: 10%;
    padding: 2px;
}

.review-score {
    background-color: green;
    font-size: 30px;
}

.review-text {
    display: flex;
    padding-left: 10px;
}

.add-review-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.add-review-button:hover {
    background-color: #0056b3;
}




