.reviews {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review {
    border: 1px solid black;
    display: flex;
    align-items: center;
    width: 80%;
    background-color: lightgray;
    margin-bottom: 5px;
}

.review-content {
    flex: 1;
}

.review-rating {
    float: left;
    width: 10%;
    padding: 2px;
}

.review-score {
    font-size: 30px;
}

.review-rating.green .review-score {
    background-color: green;
  }
  
  .review-rating.orange .review-score {
    background-color: orange;
  }
  
  .review-rating.red .review-score {
    background-color: red;
  }

.review-text {
    display: flex;
    padding-left: 10px;
}

.add-review-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.add-review-button:hover {
    background-color: #0056b3;
}

.show-more-button {
    background-color: #0056b3;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.show-more-button:hover {
    background-color: #004280;
}
